@charset "UTF-8";
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

.container {
    width: 1165px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header__top {
    background-color: #2d2d2d;
}

.header__top-con {
    padding: 0 0 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.top__main-nav {
    width: calc((100% / 24) * 11);
    padding-top: 5px;
}

.main-nav__link {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: #bebebe;
    text-decoration: underline;
    line-height: 1.566;
    text-align: left;
    cursor: pointer;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.main-nav__link:hover {
    color: #fff;
}

.main-nav__icon {
    max-width: 16px;
    height: 11px;
    opacity: 0;
    margin-right: 3px;
}

.main-nav__link:hover .main-nav__icon {
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 1;
}

.top__cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: calc((100% / 24) * 6);
    padding: 10px 25px;
    margin-bottom: -15px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.218;
    text-align: left;
    text-decoration: none;
    color: #fff;
    border: none;
    background: url('../img/cart-bg.png') center center no-repeat;
    background-size: cover;
    cursor: pointer;
}

.cart__span {
    margin-left: 10px;
    font-weight: 400;
    text-decoration: underline;
}

.cart__img {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.top__number {
    width: calc((100% / 24) * 3);
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.218;
    text-align: left;
    color: #fff;
    text-decoration: none;
    padding: 5px 0 0 0;
}

.header__header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 45px;
    margin-bottom: 45px;
}

.header-main__logo {
    width: calc((100% / 24) * 4);
    position: relative;
}

.logo__img {
    width: 100%;
}

.logo__name {
    position: absolute;
    bottom: -40%;
    left: 50%;
    -webkit-transform: translate(-40%, -50%);
    -ms-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%);
    width: 100%;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 122, 122, 122 );
    line-height: 1.041;
    text-align: left;
    text-decoration: none;
}

.header-main__search {
    width: calc((100% / 24) * 8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 10px;
}

.search__input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: calc(100% - 40px);
    padding: 10px 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    border: none;
    border-radius: 5px 0 0 5px;
    background: #f3f3f3;
}

.search__submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 0 5px 5px 0;
    border: none;
    background: #ececec;
}

.search__icon {
    width: 60%;
}

.header-main__fast-select {
    width: calc((100% / 24) * 6);
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 3px solid #e3e8f0;
    border-radius: 5px;
    background: none;
    text-decoration: none;
}

.fast-select__icon {
    width: 20px;
    margin-right: 5px;
}

.fast-select__span {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 0, 41, 116 );
    font-weight: bold;
    line-height: 1.218;
    text-align: left;
    border-bottom: 2px dotted #e1e1e1;
}

.header-main__place {
    /*width: calc((100% / 24) * 3);*/
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: none;
    border: none;
    cursor: pointer;
}

.place__icon {
    width: 20px;
    margin-right: 7px;
}
.place__variant,
.place {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 0, 41, 116 );
    line-height: 1.566;
    text-align: left;
    border-bottom: 2px dotted #e1e1e1;
}

.first {
    background: url('../img/first-bg.png') center center no-repeat;
    background-size: cover;
}

.slider-con {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
}

.slider-con__slides {
    width: calc((100% / 24) * 20);
}

.slider__btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: calc((100% / 24) * 2);
}

.slider__btn--prev {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.slider-con--first {
    padding-top: 60px;
}

.first__slider {
    width: calc((100% / 24) * 18);
    margin: 0 auto;
}

.first__slide {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.slide__ul {
    padding: 0;
    margin: 0;
}

.slide__li {
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 255, 255, 255 );
    font-weight: 300;
    line-height: 1.218;
    text-align: left;
    list-style: none;
    margin-bottom: 20px;
}

.slide__li:last-child {
    margin-bottom: 0;
}

.slide__li::before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13' height='10.531' viewBox='0 0 13 10.531'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23d30000; fill-rule: evenodd; filter: url(%23filter); %7D %3C/style%3E%3Cfilter id='filter' x='698' y='394.469' width='13' height='10.531' filterUnits='userSpaceOnUse'%3E%3CfeFlood result='flood' flood-color='%233261b7'/%3E%3CfeComposite result='composite' operator='in' in2='SourceGraphic'/%3E%3CfeBlend result='blend' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cpath class='cls-1' d='M699.874,399.083l4.165,4.066a1.06,1.06,0,0,1,0,1.524,1.124,1.124,0,0,1-1.562,0l-4.165-4.066a1.058,1.058,0,0,1,0-1.524A1.124,1.124,0,0,1,699.874,399.083Zm9.229-4.312-5.637,8.378a1.058,1.058,0,0,0,0,1.524,1.124,1.124,0,0,0,1.562,0l5.637-8.378a1.06,1.06,0,0,0,0-1.524A1.124,1.124,0,0,0,709.1,394.771Z' transform='translate(-698 -394.469)'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.slide__btn {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-decoration: none;
    line-height: 1.218;
    padding: 15px 25px;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}
.btn__icon {
    display: inline!important;
    margin-right: 10px;
}

.menu-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu-title {
    position: relative;
    bottom: -25px;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu-title__link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

.menu-title__link--con, .menu-title__link--big {
    width: 240px;
    height: 240px;
}

.menu-title__link--con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.menu-title__link--con .menu-title__link--small:nth-child(1) {
    border-radius: 5px 0 0 0;
}

.menu-title__link--con .menu-title__link--small:nth-child(2) {
    border-radius: 0 5px 0 0;
}

.menu-title__link--con .menu-title__link--small:nth-child(3) {
    border-radius: 0 0 0 5px;
}

.menu-title__link--con .menu-title__link--small:nth-child(4) {
    border-radius: 0 0 5px 0;
}

.menu-title__link--small {
    position: relative;
    width: 115px;
    height: 115px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #eeeeee;
    padding: 0 20px;
    overflow: hidden;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.menu-title__link--small::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: block;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-right-color: #cfcfcf;
}

.menu-title__link--small:hover {
    background: #3261b7;
    color: #fff;
}

.menu-title__link--small:hover .menu-title__icon {
    fill: red;
}

.menu-title__link--small .menu-title__icon {
    margin-bottom: 15px;
}

.menu-title__icon--small {
    min-width: 40px;
    min-height: 26px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-title__icon--small1 {
    background-image: url(../img/main-icon1-1.png);
    width: 40px;
    height: 10px;
}

.menu-title__icon--small2 {
    background-image: url(../img/main-icon1-2.png);
    width: 48px;
    height: 13px;
}

.menu-title__icon--small3 {
    background-image: url(../img/main-icon1-3.png);
    width: 26px;
    height: 26px;
}

.menu-title__icon--small4 {
    background-image: url(../img/main-icon1-4.png);
    width: 21px;
    height: 21px;
}

.menu-title__icon--small5 {
    background-image: url(../img/main-icon2-1.png);
    width: 28px;
    height: 20px;
}

.menu-title__icon--small6 {
    background-image: url(../img/main-icon2-2.png);
    width: 22px;
    height: 23px;
}

.menu-title__icon--small7 {
    background-image: url(../img/main-icon2-3.png);
    width: 34px;
    height: 22px;
}

.menu-title__icon--small8 {
    background-image: url(../img/main-icon2-4.png);
    width: 23px;
    height: 27px;
}

.menu-title__link--small:hover .menu-title__icon--small1 {
    background-image: url(../img/main-icon1-1h.png);
}

.menu-title__link--small:hover .menu-title__icon--small2 {
    background-image: url(../img/main-icon1-2h.png);
}

.menu-title__link--small:hover .menu-title__icon--small3 {
    background-image: url(../img/main-icon1-3h.png);
}

.menu-title__link--small:hover .menu-title__icon--small4 {
    background-image: url(../img/main-icon1-4h.png);
}

.menu-title__link--small:hover .menu-title__icon--small5 {
    background-image: url(../img/main-icon2-1h.png);
}

.menu-title__link--small:hover .menu-title__icon--small6 {
    background-image: url(../img/main-icon2-2h.png);
}

.menu-title__link--small:hover .menu-title__icon--small7 {
    background-image: url(../img/main-icon2-3h.png);
}

.menu-title__link--small:hover .menu-title__icon--small8 {
    background-image: url(../img/main-icon2-4h.png);
}

.title__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.menu-title__icon {
    z-index: 1;
}

.menu-title__h4, .menu-title__p {
    font-family: "Open Sans", sans-serif;
    color: rgb( 255, 255, 255 );
    line-height: 1.218;
    text-decoration: none;
    text-align: center;
    z-index: 1;
    margin: 0;
}

.menu-title__h4 {
    font-weight: bold;
    font-size: 16px;
}

.menu-title__p {
    font-size: 14px;
}

.pluses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 80px 0 60px 0;
}

.pluses__one {
    width: calc((100% / 25) * 3);
}

.pluses__logo {
    width: 145px;
    height: 140px;
    -o-object-fit: contain;
    object-fit: contain;
}

.pluses__h4 {
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    color: #002974;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.pluses__h4--red {
    color: rgb( 211, 0, 0 );
    display: block;
}

.marks {
    padding-bottom: 40px;
    border-bottom: 2px solid #f1f1f1;
}

.h1--marks {
    position: relative;
    margin-top: 30px;
    margin-bottom: 60px;
}

.h1--marks-bg {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-45%, -50%);
    -ms-transform: translate(-45%, -50%);
    transform: translate(-45%, -50%);
}

.slider__marks {
    /*  display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;*/
}

.marks__slide {
    max-width: 100px;
    max-height: 65px;
    -o-object-fit: contain;
    object-fit: contain;
}

.choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 50px;
}

.choice__variant {
    width: 48%;
    height: 255px;
    padding: 20px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.choice__variant--capacity {
    padding: 20px 60px;
    background: #f1f1f1;
}

.choice__variant--mark {
    background: url('../img/choice-bg.png') center center no-repeat;
    background-size: cover;
}

.choice__variant--mark .h3 {
    color: #fff;
}

.choice__form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.choice__form .select-con{
    width: 45%;
}
.choice__form .select-con:after {
    top: 14px;
}
.choice__select {
    height: 35px;
    padding: 0 0 0 10px;
    margin-top: 5px;
        margin-bottom: 15px;
    background: #fff;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 153, 153, 153 );
    text-align: left;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.choice__input--submit {
    width: 45%;
    background: #d30000;
    border: 2px solid #d30000;
    color: #fff;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
}
.choice__input--submit:hover{
    color: #d30000;
    background: #fff;
}
.h3 {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    line-height: 2;
    text-align: center;
    width: 100%;
    margin: 0 0 20px 0;
}

.capacity__link {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-weight: 300;
    background: #fff;
    border-radius: 5px;
    width: 23%;
    margin-bottom: 15px;
    padding: 5px 10px;
}

.capacity__link:hover {
    color: #fff;
    background: #d30000;
}

.capacity__link:nth-last-child(1), .capacity__link:nth-last-child(2), .capacity__link:nth-last-child(3) {
    margin-bottom: 0;
}

.capacity__span {
    font-weight: bold;
}
.post__text h2,
.h2 {
    position: relative;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.286;
    text-align: center;
}

.h2--grey {
    color: rgb( 202, 202, 202 );
}

.brands,
.marks--item{
    margin-top: 100px;
}
.marks--item .h2{
    margin-bottom: 60px;
}

.brands__slide {
    max-width: 200px;
    max-height: 40px;
    -o-object-fit: cover;
    object-fit: contain;
}

.slider__brands .slick-slide div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
}

.popular__h2--bg {
    display: block;
    margin: 5px auto;
}

.popular-con, .sale-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.popular {
    margin-top: 100px;
}

.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: calc((100% / 24) * 4);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0px;
    border: 2px solid #f3f3f3;
    background: #fff;
}

.item__pluses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    margin-top: -20px;
}

.item--sale, .item--hit {
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    padding: 6px 5px;
    border-radius: 10px;
    width: 45%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.item--sale {
    background: #d30000;
}

.sale__procent {
    color: #ffea00;
}

.item--hit {
    background: #71cf02;
}

.item--avail {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 113, 207, 2 );
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin-top: 5px;
}

.item__prev {
    width: 75%;
    margin: 10px auto;
}
.item__img{
    width: 100%;
    height: auto;
}
.item__name {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    text-decoration: underline;
    line-height: 1.286;
    text-align: center;
    width: 75%;
}
.item__name:hover {
    text-decoration: none;
}
.item__price {
    margin: 15px 0;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 211, 0, 0 );
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.item__buy {
    position: relative;
    display: inline-block;
    border: none;
    padding: 13px;
    background: #d30000;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
    border: 2px solid #d30000;
    border-radius: 5px;
    box-sizing: border-box;
}
.item__buy:hover{
    background: #ff7777;
    border-color: #ff7777;
}
.item__buy:hover::before, .item__buy:hover::after{
    opacity: 0.5;
}
.item__buy::before, .item__buy::after {
    content: "";
    position: absolute;
    top: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 30px;
    height: 10px;
    background: url('../img/btn--circles.png') center center no-repeat;
    background-size: initial;
}

.item__buy::before {
    left: -65px;
    -webkit-transform: translate(30px, -50%) rotate(180deg);
    -ms-transform: translate(30px, -50%) rotate(180deg);
    transform: translate(30px, -50%) rotate(180deg);
}

.item__buy::after {
    right: -5px;
    -webkit-transform: translate(30px, -50%);
    -ms-transform: translate(30px, -50%);
    transform: translate(30px, -50%);
}

.item__info {
    margin-top: 15px;
    padding: 0 20px;
}

.info__characteristic {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 153, 153, 153 );
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
}

.characteristic__data {
    color: #666666;
}

.azian-marks {
    margin-top: 100px;
    margin-bottom: 50px;
}

.azian-marks__slider {
    margin-top: 25px;
}

.azian-marks__slide {
    width: calc((100% / 24) * 2);
    color: #002974;
    cursor: pointer;
    text-decoration: none;
}

.slider__azian-marks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.azian-marks__icon {
    display: block;
    margin: 0 auto;
}

.azian-marks__name {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 0, 41, 116 );
    line-height: 2.5;
    text-align: center;
    font-weight: 300;
    margin: 0;
}

.sale {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url('../img/sale-bg.png') center center no-repeat;
    background-size: cover;
}

.callback {
    background: #002974;
}

.callback-con {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 60px 0;
}

.callback__bg {
    position: absolute;
    top: 0;
    left: -10%;
    z-index: 0;
    height: 100%;
}

.callback__p {
    /*width: calc((100% / 24) * 8);*/
    font-size: 21px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: rgb( 255, 255, 255 );
    line-height: 1.5;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}

.callback__form {
    width: calc((100% / 24) * 6);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}

.callback__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 21px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 15px;
}

.callback__label:last-child {
    margin-bottom: 0;
}

.callback__input, .callback__submit {
    width: 80%;
    height: 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #fff;
    padding: 5px 10px;
    font-size: 14px;
}

.callback__input {
    background: #fff;
}

.callback__submit {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;
    text-align: center;
    background: #002974;
    cursor: pointer;
}

.callback__submit:hover {
    background: #fff;
    color: #002974;
}

.callback__call-info {
    width: calc((100% / 24) * 6);
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: rgb( 255, 255, 255 );
    line-height: 1.2;
    text-align: left;
    margin: 0;
}

.callback__call-link {
    display: block;
    margin-top: 20px;
    color: #fff;
    text-decoration: underline;
}

.text {
    padding: 70px 0 85px 0;
}

.text__h2 {
    width: calc((100% / 24) * 14);
    margin: 0 auto 30px auto;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3;
    text-align: left;
}
.post__text p,
.text__p {
    width: calc((100% / 24) * 14);
    margin: 0 auto;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: rgb( 0, 0, 0 );
    line-height: 1.3;
    text-align: left;
}

.footer {
    background: #505050;
}

.footer-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 55px 0 80px 0;
}

.footer__info {
    width: calc((100% / 24) * 4);
}

.footer__info-p {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: rgb( 219, 219, 219 );
    line-height: 1.5;
}

.footer__menu {
    width: calc((100% / 24) * 2);
}

.footer__menu-a {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: rgb( 219, 219, 219 );
    text-decoration: underline;
    line-height: 1.2;
}
.footer__menu-a:hover{
    color: #fff;
}
.footer__menu-a--phone {
    text-decoration: none;
}

.footer__akbs {
    width: calc((100% / 24) * 8);
}

.footer__contacts {
    width: calc((100% / 24) * 5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__developer {
    margin-top: 28%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: rgb( 138, 138, 138 );
    line-height: 1.5;
    text-decoration: none;
}

.developer__text {
    text-decoration: underline;
}
/*ITEM.HTML*/
.breadcrumbs__p {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: rgb( 117, 117, 117 );
    line-height: 1.2;
    text-align: left;
}

.breadcrumbs__a {
    text-decoration: none;
    color: rgb( 117, 117, 117 );
    font-weight: 300;
    margin: 0;
}
.breadcrumbs__a::before{
    content: url('../img/bread-link.png');
    margin: 0 5px;
}

.breadcrumbs__a--page {
    color: #c2c2c2;
}
.h1{
        font-size: 35px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    line-height: 1;
    text-align: center;
}
.h1--item {
    width: calc((100% / 24)* 15);
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    line-height: 1;
    text-align: left;
}

.descriptio-item__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.details__photo {
    width: 50%;
}

.details__img {
    width: 100%;
    height: auto;
}

.details__descr {
    width: calc((100% / 24) * 8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.descr__buy {
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.descr__buy--avail {
    background: #71cf02;
    padding: 5px 15px;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    margin-right: 20px;
}

.buy__one-click {
    border: 2px solid #002974;
    background: transparent;
    padding: 10px 15px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #002974;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
}

.descr__char {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 30px;
    margin-top: 20px;
}

.characteristic__name, .characteristic__data {
    padding: 4px 0px;
}

.characteristic__name {
    width: 140px;
}

.characteristic__data {
    font-weight: 600;
    color: #000;
}

.char__extra-varanty {
    position: relative;
    font-size: 14px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1;
    text-align: left;
    text-decoration: underline;
    margin: 7px 0 0 30px;
    cursor: pointer;
}

.extra-veranty__icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -5px;
    left: -30px;
    margin: 0;
}

.descr__price {
    margin-top: 20px;
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.descr__price .item__price {
    width: 100px;
    margin: 0;
    text-align: left;
}

.descr__price .item__price--exchange {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
    padding: 0 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #002974;
    background: #fffac7;
}

.item__price--exchange::after {
    content: "при обмене";
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: rgb( 102, 102, 102 );
    line-height: 2.4;
    text-align: left;
    margin-left: 10px;
}

.descr__price .item__buy {
    margin-top: 20px;
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.description-text__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #f3f3f3;
}

.description-text__one-btn {
    border: none;
    background: transparent;
    margin: 0 20px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #999999;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none; 
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
}

.description-text__one-btn--active,
.description-text__one-btn:hover {
    color: #002974;
}

.description-text__info {
    width: calc((100% / 24) * 16);
    margin: 0 auto;
    padding-top: 40px;
}

.description-text__p {
    margin-bottom: 20px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: rgb( 0, 0, 0 );
    line-height: 1.467;
    text-align: left;
}

/* CATALOG1.HTML*/
.catalog-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.catalog__sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: transparent;
    border: none;
}

.sort__icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.sort__type {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 0, 41, 116 );
    line-height: 1.2;
    text-align: right;
    padding-bottom: 3px;
    border-bottom: 2px dotted #e1e1e1;
}

.catalog-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.catalog__filters {
    width: calc((100% / 24) * 4);
}

.catalog__content {
    width: calc((100% / 24) * 19);
}

.catalog__filters {
    background: #f9f9f9;
}

.filter__submit, .catalog__open-full {
    display: block;
    margin: 20px auto;
    background: #002974;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    color: rgb( 255, 255, 255 );
    cursor: pointer;
}

.open-full__name {
    border-bottom: 1.5px dotted #fff;
}

.flter__clear {
    display: block;
    margin: 20px auto;
    background: transparent;
    border: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 211, 0, 0 );
    font-weight: bold;
    line-height: 2;
    text-align: center;
    cursor: pointer;
}

.clear__text {
    border-bottom: 1.5px dotted rgb( 211, 0, 0 );
}

.filters-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 15px;
    margin-bottom: 20px;

}

.capacity__header, .filters-con {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

.choice__select-con{
    position: relative;
    width: 100%;
}
.select-con .choice__select{
    width: 100%;
}
.filter__checkbox-con{
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.filter__checkbox-con .label__checkbox:first-child {
    margin-right: 5px;
}
.label__checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    cursor: pointer;
    margin: 5px 0;
}

.filter__checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #dfdfdf;
    border-radius: 5px;
    background: #fff;
    margin-right: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.filter__checkbox:checked{
    background: #2d2d2d;
    border-color: #2d2d2d;
}
.filter__checkbox:checked::after{
    content: url("../img/arrow-checkbox.png");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.filter__checkbox:checked + .checkbox__name {
    color: #2d2d2d;
}

.catalog__capacity {
    padding: 0 25px;
}
.catalog__full{
    padding-top: 15px;
}
.catalog__full--open {
    padding-bottom: 15px;
    background: #002974;
}
.catalog__open-full{
    margin: 0 auto 20px auto;
}
.catalog__full--open .catalog__open-full{
    /*margin: 0 27px 20px 27px;*/
}
.catalog__full--open .catalog__open-full {
    /*padding: 0;*/
}
.catalog__link {
    display: none;
    margin: 0 0 10px 27px;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 255, 255, 255 );
    line-height: 1.2;
    text-decoration: none;
}
.catalog__full--open .catalog__link {
    display: block;
}

.catalog__criterion{
    margin-bottom: 45px;
}
.criterion__h2 {
    position: relative;
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 194, 194, 194 );
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.criterion__h2::before {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 10px;
    z-index: -1;
    width: 100%;
    height: 2px;
    background: rgb( 194, 194, 194 );
}

.capacity__btn {
    display: block;
    background: none;
    border: none;
    margin: 0px 0 10px 0;
    padding: 0;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 0, 0, 0 );
    font-weight: 300;
    line-height: 1.2;
    text-decoration: none;
}
.capacity__btn:hover{
    text-decoration: underline;
}
.h2__span {
    padding: 0 10px;
    background: #fff;
}

.criterion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 40px;
}

.criterion--mark {
    padding-top: 45px;
}

.criterion__brands {
    background: none;
    border: none;
    width: 25%;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
}

.criterion__brands--active .brand__icon, .criterion__brands:hover .brand__icon {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    opacity: 1;
}

.brand__icon {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    opacity: 0.4;
}

.criterion__btn {
    width: 45px!important;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background: #f9f9f9;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 0, 0, 0 );
    line-height: 1.364;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.criterion .slider__btn {
    width: auto;
}
.criterion__btn:hover,
.criterion__btn--active {
    color: #c2c2c2;
    background: #2d2d2d;
}

.size__btn {
    max-width: 145px;
    padding: 20px 5px;
    background: transparent;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
}
.size__btn:hover,
.size__btn--active {
    border-color: #2d2d2d;
}

.size__icon {
    display: block;
    width: 90%;
    margin: 0 auto 20px auto;
}

.polarity {
    background: transparent;
    border: none;
    color: #000;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.polarity__name {
    border-bottom: 2px dotted #e1e1e1;
    font-weight: 600;
}

.polarity__icon {
    display: block;
    margin: 0 auto;
    opacity: 0.3;
}
.polarity:active .polarity__name, .polarity:visited .polarity__name, .polarity:focus .polarity__name, .polarity--activ .polarity__name {
    color: #002974;
    border-bottom: none;
}

.polarity:active .polarity__icon, .polarity:visited .polarity__icon, .polarity:focus .polarity__icon, .polarity:hover .polarity__icon, .polarity--activ .polarity__icon {
    opacity: 1;
}

.content__items {
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.h2--content {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0px;
}

.catalog__content .item {
    width: calc((100% / 19) * 4);
    margin-bottom: 30px;
}

.items__btn-more {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.btn-more {
    padding: 15px 25px;
    background: #002974;
    border: none;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    cursor: pointer;
}

.btn-more__text {
    border-bottom: 1px dotted #fff;
}
.btn-more:hover .btn-more__text {
    border-bottom: none
}
.content__add {
    margin-top: 60px;
}

.content__add .h2 {
    margin-bottom: 60px;
}

.criterion--types {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.criterion__type {
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 30px;
    background: none;
    border: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
}
.criterion__type:hover {
}
.type__icon {
    display: block;
    margin: 0 auto 5px auto;
}

.criterion__select {
    height: 37px;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgb( 249, 249, 249 );
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 0, 0, 0 );
    line-height: 1.364;
    text-align: center;
}

.criterion__select:hover:focus {
    -webkit-box-shadow: 0px 0px 29px 26px rgba( 30, 14, 0, 0.07 );
            box-shadow: 0px 0px 29px 26px rgba( 30, 14, 0, 0.07 );
}

.criterion__car-mark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100px;
    width: calc(100% / 7);
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 0 0 10px;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Open Sans", sans-sserif;
    color: rgb( 0, 41, 116 );
    text-decoration: underline;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
}
.criterion__car-mark:hover{text-decoration: unset;font-weight: 600;}
.car-mark__icon-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 70px;
    overflow: hidden;
}

.car-mark__icon {
    -o-object-fit: contain;
       object-fit: contain;
}

.criterion__car-model {
    width: calc((100% / 19) * 4);
    /* min-height: 45px; */
    padding: 10px 0;
    /* padding-bottom: 10px; */
    background: #f9f9f9;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: rgb( 0, 0, 0 );
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
}
.criterion__type:hover,
.criterion__car-model:hover,
.criterion__car-model--active{
    background: #163b80;
    color: #fff;
}
.car-name{
    padding-top: 10px;
}
.car-model__prev {
    width: 100%;
    margin-bottom: 10px;
    margin-top: -10px;
}
.size__slider,
.capacity__slider{
    width: 95%;
}
.size__slider .slick-slide > div,
.capacity__slider .slick-slide > div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
/* MAP.HTML*/
.contacts{
    padding-top: 40px;
    margin-bottom: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.contacts__information{
    width: calc((100% / 24) * 7);
}
.contacts__map{
    height: 335px;
    width: calc((100% / 24) * 16);
}
.information__city{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: rgb( 102, 102, 102 );
  font-weight: bold;
  line-height: 2;
  text-align: left;
}
.information__part{
    font-family: "Open Sans", sans-serif;
    text-align: left;

}
.city__select{
    width: 145px;
    padding: 5px 10px;
    margin-top: 5px;
    background: #f9f9f9;
    border: none;
    border-radius: 5px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: rgb( 0, 0, 0 );
  line-height: 2;
  text-align: left;
  font-weight: 300;
}
.information__name{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}
.information__adress{
    font-size: 13px;
    font-weight: 300;
}
.information__link{
    display: block;
    margin-bottom: 15px;
    font-weight: 300;
    text-decoration: none;
    color: #000;
    font-size: 13px;
}
/*CART.HTML*/
.cart{
    margin-top: 50px;
    margin-bottom: 100px;
}
.cart__products{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.products__all-items{
    width: calc((100% / 24) * 17);
    padding-right: calc((100% / 24) * 1);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-right: 2px solid #002974;
}
.products__full-price{
    margin-left: calc((100% / 24) * 1);
}
.products__full-price .item__price{
    margin: 0;
}
.full-price{
    margin: 0;
    font-family: "Open-sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #002974;
    margin-bottom: 5px;
}
.all-items__one-buy{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border: 2px solid #f3f3f3;
    border-radius: 10px;
    padding: 15px;
}
.all-items__one-buy + .all-items__one-buy{
    margin-top: 20px;
}
.all-items__one-buy + .all-items__none{
    display: none;
}
.all-items__none{
    font-family: "Open-sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #002974;
}
.one-buy__delete{
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.one-buy__prev{
    max-width: 150px;
    max-height: 150px;
}
.one-buy__name{
    width: 145px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb( 0, 0, 0 );
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.2;
  text-align: left;
  cursor: pointer;
}
.all-items__one-buy .item__info{
    margin: 0;
    padding: 0;
}
.one-buy__dop-info{
    width: calc((100% / 16) * 4);
}
.one-buy__dop-info--exchange + .item__price{
    color: #002974;
}
.dop-info__exchange{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.one-buy__dop-info .item__price{
    margin: 6px 0;
}
.exchange{
    width: 50%;
    font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: rgb( 0, 41, 116 );
  line-height: 1;
  text-align: left;
}
.exchange__checkbox{
    position: relative;
    width: 20px;
    height: 20px;
    background: #f3f3f3;
    border: 2px solid #f3f3f3;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
.exchange__checkbox:checked{
    border-color: #274988;
}
.exchange__checkbox:checked::after{
    content: url('../img/marker2.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dop-info__number{
    width: 50%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.number__btn{
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
}
.number{
    margin: 0;
  font-size: 13px;
  font-family: "Open Sans";
  color: rgb( 0, 0, 0 );
  font-weight: bold;
  line-height: 2;
  text-align: center;
}
.cart__order{
    margin-top: 50px;
}
.cart__order .h2{
    text-align: left;
    margin-bottom: 25px;
}
.order{
    width: calc((100% / 24) * 23);
}
.order__recipient{
    width: calc((100% / 23) * 22);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px;
}
.order__label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: rgb( 102, 102, 102 );
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}
.order__lable--inline{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: calc((100% / 23) * 11);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.order__input{
    width: 100%;
    min-height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 15px;
    margin-top: 5px;
    background: #f9f9f9;
    border: none;
    border-radius: 5px;
}
select.order__input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select-con{
    width: 100%;
    position: relative;
}
.select-con::after{
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/select-arrow.png") center center no-repeat;
    position: absolute;
    right: 10px;
    top: calc((100% - 20px) / 2);
}
.order__recipient .order__label:nth-child(1),
.order__recipient .order__label:nth-child(2),
.order__recipient .order__label:nth-child(3){
    width: calc((100% / 22) * 5);
}
.order__label:nth-child(4){
    width: calc((100% / 22) * 4);
}
.order__delivery{
    margin-bottom: 15px;
}
.delivery__radio{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* border: none; */
    margin: 3px 10px 3px 3px;
    background: #f9f9f9;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.delivery__radio:checked{
    background: #002974;
    box-shadow: 0px 0px 0 2px #f9f9f9, 0px 0px 0 4px #002974;

}
.delivery__radio-con{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.order__address{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.order__label--address{
    width: calc((100% / 23) * 11);
}
.price{
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    margin-top: 5px;
}
.order__submit{
    width: calc((100% / 23) * 4);
    height: 40px;
    background: #d30000;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
}
.address__privacy{
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgb( 153, 153, 153 );
  line-height: 1.1;
  text-align: left;
}
.address__privacy{
    width: calc((100% / 23) * 5);
    margin: 20px 0;
}
.privacy__link{
    display: block;
    margin-top: 5px;
    color: inherit;
}

/* POST.HTML */
.menu-title--post{
    bottom: 0;
}
.menu--small{

}
.menu--small .menu-title__link--big,
.menu--small .menu-title__link--con{
    height: 170px;
}

.menu--small .menu-title__link--big > .menu-title__icon{
    display: none;
}
.menu--small .menu-title__link--con .menu-title__link{
    height: 80px;
}
.menu--small .menu-title__link--con .menu-title__link:nth-child(1),
.menu--small .menu-title__link--con .menu-title__link:nth-child(2){
    margin-bottom: 10px;
}
.post{
    margin-top: 60px;
}
.post-con{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
.post__text{
    width: calc((100% / 24) * 18);
}
.post__another-posts{
    width: calc((100% / 24) * 5);
}
.post__text h2{
    text-align: left;
    font-size: 17px;
}
.post__text p{
    margin-bottom: 25px;
}
.post__text p,
.post__text figure,
.post__text img{
    width: 100%;
}
.post__text figure{
    margin: 0;
    margin-bottom: 50px;
}
.post__text figcaption{
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: rgb( 153, 153, 153 );
  font-style: italic;
  font-weight: 300;
  line-height: 2;
  text-align: center;
}
.post__text ul{
    padding-left: 0px;
    list-style: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 300;
  color: rgb( 0, 0, 0 );
  line-height: 1.2;
  text-align: left;
}
.post__text li{
    margin-bottom: 15px;
}
.post__text li::before{
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url("../img/post-li.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}
.another-posts{
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb( 0, 41, 116 );
  font-weight: bold;
  line-height: 2;
  text-align: left;
}
.another-posts__link {
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #f3f3f3;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: rgb( 0, 0, 0 );
  line-height: 1.154;
  text-align: left; 
  text-decoration: none;
}
.another-posts__link:hover {
    color: #f3f3f3;
    background: rgb( 0, 0, 0 );
}
.callback--post{
    margin-top: 60px;
}
/* POST-LIST.HTML */
.post-list{

}
.posts-list__link{
    width: calc((100% / 24) * 18);
    margin-bottom: 30px;
    padding-bottom: 20px;
  border-bottom: 2px solid #f3f3f3;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  text-align: left;
}
.post__date{
  text-transform: uppercase;
  color: rgb( 194, 194, 194 );
  letter-spacing: 2px;
}
.post__excerpt{
    margin-bottom: 15px;
    padding-bottom: 3px;
    line-height: 1.5;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.post__excerpt:hover{
    border-color: #000;
}
.pagination-con{
    width: calc((100% / 24) * 6);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pagination__link {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #000;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}
.pagination__link--active {
    font-weight: bold;
    color: #c2c2c2;
}
.pagination__arrow{
    width: 15px;
    height: 15px;
    border-left: 4px solid #e0e0e0;
    border-bottom: 4px solid #e0e0e0;
}
.pagination__arrow:hover{
    border-color: #c1c1c1;
}
.pagination__arrow--prev{
    transform: rotate(45deg);
}
.pagination__arrow--next{
    transform: rotate(-135deg);
}
.list-place{
    width: calc((100% / 24) * 3);
    position: relative;
}
.place-list{
    position: absolute;
    top: 0%;
    left: 67px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.place__variant{
    display: none;
    background: #fff;
    padding: 5px;
}
.place-list.header-main__place--open{
    box-shadow: 0px 0px 15px 5px rgba( 30, 14, 0, 0.4 );
    border-radius: 5px;
    z-index: 10;
}
.place--active{
    display: block;
    padding: 0;
}
.header-main__place--open  .place__variant{
    display: block;
    padding: 5px 10px 10px 10px;
    border-bottom: 0;
}
.header-main__place--open .place__variant:first-child{
    border-radius: 5px 5px 0 0;
}
.header-main__place--open .place__variant:last-child{
    border-radius: 0 0 5px 5px;
}
@media (max-width: 1200px){
    .container{
        width: 1024px;
    }
    .top__main-nav {
        width: auto;
    }

    .top__cart {
        padding: 10px 20px;
        width: auto;
    }

    .top__number {
        width: auto;
    }

    .logo__name {
        bottom: -25%;
        left: 0;
        transform: unset;
    }

    .choice__variant--capacity {
        padding: 20px 30px;
    }

    .popular-con {
        justify-content: space-between;
    }

    .item--sale, .item--hit {
        font-size: 10px;
        padding: 4px;
    }

    .item__prev {
        width: 80%;
    }

    .item__buy {
        padding: 8px 0;
        width: 55%;
    }

    .item__buy::before, .item__buy::after {
        width: 20px;
        height: 10px;
        background-size: contain;
    }

    .item__buy::before {
        left: -60px;
    }

    .item__buy::after {
        right: 0;
    }

    .item__info {
        padding: 0 10px;
    }

    .info__characteristic {
        font-size: 14px;
        width: 100%;
    }

    .callback__bg {
        left: 0%;
    }

    .text__p {
        width: 80%;
    }

    .text__h2 {
        width: 80%;
    }
    .contacts__map {
        height: 300px;
    }
}
@media (max-width: 1024px){
    .container{
        width: 768px;
    }
    .top__main-nav {
        display: none;
    }

    .header__top-con {
        justify-content: space-around;
    }

    .header__header-main {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .header-main__logo {
        width: 200px;
        margin-bottom: 30px;
    }

    .header-main__search {
        width: 50%;
        display: none;
    }

    .logo__name {
        left: 5%;
        bottom: -20%;
    }

    .header-main__fast-select {
        width: auto;
        padding: 0 20px;
    }

    .first__slider {
        width: 80%;
    }

    .slider-con--first {
        padding: 60px 20px 0 20px;
        box-sizing: border-box;
    }
    .slide__li {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .slide__btn {
        font-size: 14px;
        padding: 5px 10px;
    }

    .btn__icon {
        width: 17px;
        margin-right: 5px;
    }

    .slide__img {
        width: 100px;
    }

    .menu-title__link--big {
        width: 180px;
        height: 180px;
    }

    .menu-title__link--small {
        width: 85px;
        height: 75px;
    }

    .menu-title__link--con {
        width: 180px;
        height: 180px;
    }

    .menu-title {
        justify-content: space-around;
    }

    .pluses__one {
        width: auto;
    }

    .pluses__logo {
        width: 100px;
        height: 120px;
    }

    .pluses__h4 {
        margin: 10px 0;
    }

    .h1 {
        font-size: 28px;
    }

    .h1--marks-bg {
        width: 170px;
    }

    .slider-con__slides {
        width: 80%;
    }

    .choice {
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .choice__variant {
        width: 80%;
    }

    .choice__variant--capacity {
        margin-bottom: 30px;
    }

    .brands {
        margin-top: 60px;
    }

    .slider__btn {
        width: auto;
    }

    .popular-con, .sale-con {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .item {
        width: 230px;
        margin-bottom: 40px;
    }

    .item--sale, .item--hit {
        font-size: 13px;
    }

    .item--avail {
        font-size: 12px;
    }

    .popular-con .item:last-child, .sale-con .item:last-child {
        display: none;
    }

    .azian-marks {
        margin-top: 50px;
    }

    .callback-con {
        flex-flow: column;
        overflow: hidden;
        padding: 20px 0;
    }

    .callback__bg {
        width: 75%;
        height: auto;
    }

    .callback__form {
        z-index: 2;
        width: 60%;
        margin-bottom: 30px;
    }

    .callback__call-info {
        z-index: 2;
        width: 60%;
        margin-top: 25px;
    }

    .callback__p {
        width: 60%;
        margin-top: 0;
    }

    .callback__call-link {
        margin-top: 10px;
    }

    .callback__p br {
        display: none;
    }

    .text__h2 {
        width: 90%;
    }

    .text__p {
        width: 90%;
    }

    .footer-con.container {
        flex-wrap: wrap;
        padding: 40px 20px;
        box-sizing: border-box;
    }

    .footer__info {
        width: auto;
    }

    .footer__menu {
        width: auto;
    }

    .footer__akbs {
        width: auto;
    }

    .footer__contacts {
        width: auto;
        margin-top: 30px;
    }

    .footer__menu-a {
        margin-bottom: 5px;
    }

    .footer__info-p {
        margin: 5px 0;
    }

    .footer__developer {
        margin-top: 20px;
        display: inline-flex;
    }
    .post__text {
        width: calc((100% / 24) * 17);
    }

    .post__another-posts {
        width: calc((100% / 24) * 6);
    }
    .pagination-con {
        width: 60%;
    }
    .descr__buy--avail {
        padding: 5px 10px;
        font-size: 13px;
    }

    .buy__one-click {
        padding: 10px;
    }

    .details__descr {
        width: calc((100% / 24) * 10);
    }

    .item__price {
    width: 100px;
    }

    .item__price.item__price--exchange {
        /* margin-top: 10px; */
    }

    .item__buy {
        font-size: 11px;
        width: auto;
        padding: 5px;
    }

    .descr__price .item__buy {
        width: 60%;
        font-size: 12px;
        padding: 7px 20px;
        letter-spacing: 2px;
    }

    .description-text {
        margin-top: 40px;
    }

    .description-text__info {
        width: calc((100% / 24) * 20);
    }

    .popular {
        margin-top: 60px;
    }
    .information__name {
        margin-bottom: 10px;
    }

    .information__link {
        margin-bottom: 10px;
    }

    .contacts__map {
        height: 280px;
    }
    .catalog__filters {
        width: calc((100% / 24) * 6);
    }

    .catalog__content {
        width: calc((100% / 24) * 17);
    }

    .criterion {
        padding: 0;
    }

    .filters-con {
        margin-bottom: 10px;
    }

    .choice__select {
        margin-bottom: 10px;
        height: 30px;
    }

    .catalog__criterion {
        margin-bottom: 30px;
    }

    .criterion__type {
        margin: 0 20px;
    }

    .criterion__car-mark {
        width: calc(100% / 4);
    }

    .criterion__car-model {
        font-size: 12px;
    }

    .criterion__btn {
        font-size: 15px;
        padding: 7px;
        width: auto;
    }

    .criterion__select {
        height: 34px;
    }

    .criterion--mark {
        padding: 10px 0;
    }

    .catalog__content .item {
        width: 200px;
    }

    .content__items {
        justify-content: space-around;
    }

    .content__items .item--sale, .content__items .item--hit {
        font-size: 12px;
    }

    .btn-more {
        font-size: 14px;
        padding: 10px 15px;
    }
    
}
@media(max-width: 768px){
    .container{
        width: 320px;
    }
    .header__top-con {
        flex-flow: column;
        justify-content: center;
        padding: 10px 0;
    }

    .top__cart {
        margin-bottom: 10px;
    }

    .header__top-con.container {
        padding-bottom: 15px;
    }

    .top__number {
        padding-top: 0;
    }

    .header__header-main {
        flex-flow: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .header-main__fast-select {
        margin-bottom: 20px;
    }

    .header-main__place {
        width: 100%;
    }
    .list-place {
        width: 35%!important;
        margin-left: auto;
        margin-right: auto;
    }
    .first{
        padding: 20px 0;
    }
    .first__slide {
        flex-flow: column;
        align-items: center;
        padding: 0;
    }

    .slide__ul {
        margin: 30px 0;
    }

    .slide__btn {
        align-self: center;
    }

    .slider__icon {width: 45px;}

    .slider-con {
        justify-content: space-between;
    }


    .slider-con--first {
        padding: 20px 0;
    }

    .first__slider {
        width: 65%;
    }
    .slide__img {
        width: 110px;
    }

    .menu-title {
        flex-flow: row wrap;
        bottom: 0;
    }

    .menu-title__link--big {
        width: 45%;
    }

    .menu-title__link--big {
        width: 320px;
        height: 320px;
        padding: 5px;
        justify-content: center;
        margin-bottom: 10px;
    }

    .menu-title__h4 {font-size: 20px;margin: 20px 0 15px 0;}

    .menu-title__p {font-size: 16px;}

    .menu-title__h4 br {
        display: none;
    }

    .menu-title__icon {
        width: 130px;
        height: 130px;
    }

    .menu-title__link--con {
        width: 320px;
        height: 320px;
        justify-content: space-between;
    }
    .menu-title__link--con + .menu-title__link--con{
        margin-top: 10px;
    }

    .menu-title__icon--small {
        background-size: contain;
        align-self: center;
    }

    .menu-title__link--small {
        width: 145px;
        height: 150px;
        padding: 20px;
        justify-content: flex-end;
        justify-content: center;
    }

    .menu-title__icon--small1 {
        width: 50%;
        height: 90px;
    }

    .menu-title__icon--small1 {
        width: 55px;
        height: 90px;
    }
    .menu-title__icon--small2 {
        width: 70px;
        height: 90px;
    }

    .menu-title__icon--small3 {
        width: 25px;
        height: 25px;
        margin-bottom: 10px;
    }

    .menu-title__icon--small4 {
        width: 30px;
        height: 25px;
        margin-bottom: 10px;
    }

    .menu-title__icon--small5 {
        width: 60px;
        height: 30px;
        margin-bottom: 5px;
    }

    .menu-title__icon--small6 {
        width: 70%;
        height: 50px;
        margin-bottom: 5px;
    }

    .menu-title__icon--small7 {
        width: 55%;
        height: 50px;
        margin-bottom: 5px;
    }

    .menu-title__icon--small8 {
        width: 70%;
        height: 50px;
        margin-bottom: 5px;
    }

    .criterion__brands{
        width: 45%;
    }
    .brand__icon{
        width: 100%;
    }
    .slider__btn{
        width: 40px;
    }
    .size__slider, .capacity__slider {
        width: calc(100% - 80px);
    }
    .criterion__h2{
        font-size: 20px;
    }
    .h2__span{
        padding: 0;
        line-height: 1.5;
    }
    .polarity__icon{
        display: none;
    }
    
    .filter__submit, .catalog__open-full {
        max-width: 70%;
    }
    .criterion__h2::before{
        content: none;
    }
    .callback{
        padding: 20px 0;
    }
    .footer__info {
        margin-bottom: 20px;
    }
    .footer-con {
        padding: 40px 0;
        flex-flow: column;
    }

    .footer__menu {
        margin-bottom: 20px;
    }
    .h1 {
        font-size: 24px;
    }
    .contacts {
        flex-flow: column;
        align-items: center;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    .contacts__information {
        width: 100%;
        margin-bottom: 20px;
    }

    .contacts__map {
        width: 100%;
        height: 170px;
    }
    .pluses.container{
        padding: 20px 0;
    }
    .pluses {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 0;
    }

    .pluses__logo {
        display: block;
        margin: 0 auto;
    }
    .pluses__one {
        width: 45%;
        margin-bottom: 25px;
    }
    .h1--marks-bg {
        width: 170px;
        height: 100px;
    }
     .choice__variant {
        width: 100%;
        padding: 10px;
    }
    .choice__variant--mark {
        height: auto;
    }
    .text {
        padding: 40px 0px;
    }
    .text__h2 {
        width: 100%;
    }

    .text__p {
        width: 100%;
    }
    .callback__input, .callback__submit{
        font-size: 14px;
    }
    .callback__submit {
        width: 90%;
    }
    .h1--item {
        width: 100%;
    }
    .descriptio-item__details {
        flex-flow: column;
    }
    .details__descr {
        width: 100%;
    }
    .details__photo {
        width: 100%;
    }
    .descr__buy {
        margin-left: 0;
        width: 100%;
        justify-content: space-around;
    }
    .descr__char {
        margin-left: 10px;
    }
    .characteristic__name {
        width: 100px;
    }
    .descr__price {
        margin-left: 0;
    }



}

@media(max-width: 768px){

    .slider-con__slides {
        width: 60%;
    }

    .choice.container {
        
        margin-top: 30px;
    }

    .h3 {
        margin-bottom: 10px;
    }

    .capacity__link {
        width: 30%;
        font-size: 14px;
        padding: 5px 0;
        box-sizing: border-box;
    }

    .choice__form .select-con {
        width: 100%;
    }

    .callback__bg{
        display: none;
    }

    .callback__p {
        width: 100%;
        font-size: 16px;
    }

    .callback__form {
        width: 100%;
    }

    .callback__label {
        justify-content: space-between;
    }

    .callback__input {
        width: 90%;
    }

    .text {padding: 40px 0px;}

    .post__text {
        width: calc((100% / 24) * 17);
    }

    .post__another-posts {
        width: calc((100% / 24) * 6);
    }

    .post-con {
        flex-flow: column;
    }

    .post__text,
    .post__another-posts,
    .posts-list__link,
    .pagination-con {
        width: 100%;
    }

    .characteristic__name, .characteristic__data {
        padding: 3px 0;
        width: 50%;
    }

    .descr__price .item__price--exchange {
        padding: 0 5px;
    }
    .h1--item {
        width: 100%;
    }

    .item__buy {
        margin: 0 auto;
    }

    .item__price--exchange {
        margin-top: 0;
    }

    .descr__char {
        margin-left: auto;
        margin-right: auto;
        width: 86%;
    }

    .description-text__btns {
        flex-wrap: wrap;
    }

    .description-text__one-btn {
        font-size: 13px;
        margin: 0 7px;
    }

    .description-text__info {
        width: 100%;
    }

    .contacts__map {
        width: 100%;
        height: 170px;
    }
    .catalog-head {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .catalog__criterion {
        margin-bottom: 20px;
    }

    .catalog__filters {
        width: 100%;
    }

    .catalog__content {
        width: 100%;
    }

    .catalog-con {
        flex-flow: column;
    }

    .criterion__type {
        width: 25%;
        margin-bottom: 10px;
    }

    .criterion__btn {
        margin: 7px;
        width: 30%;
    }

    .criterion__select {
        width: 155px;
        margin: 7px;
    }

    .criterion__car-mark {
        width: 30%;
    }

    .car-mark__icon {
        width: 70%;
        max-height: 70px;
    }

    .criterion__car-model {
        width: 47%;
        margin-bottom: 15px;
        min-height: unset;
        padding: 5px 0;
    }

    .criterion__type {
        width: 25%;
        margin-bottom: 10px;
    }

    .cart{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .cart__products{
        flex-flow: column;
        align-items: flex-start;
    }
    .products__all-items{
        width: 100%;
        padding: 0 0 30px;
        border-right: none;
        border-bottom: 2px solid #002974;
    }
    .all-items__one-buy{
        flex-flow: column;
        align-items: center;
        padding: 20px;
    }
    .one-buy__name,
    .one-buy__dop-info{
        width: 100%;
    }
    .order,
    .order__recipient,
    .order__recipient .order__label:nth-child(1),
    .order__recipient .order__label:nth-child(2),
    .order__recipient .order__label:nth-child(3)
    .order__label:nth-child(4){
        width: 100%;
    }
    .one-buy__name{
        width: 80%;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .item__info{
        width: 80%;
        margin: 10px auto 0;
        padding: 0;
    }
    .dop-info__exchange{
        width: 80%;
        justify-content: space-between;
        margin: 10px auto;
    }
    .dop-info__number{
        margin: 0 auto;
        width: 70%;
    }
    .all-items__one-buy .item__price:not(.item__price--exchange){
        margin: 15px 0;
    }
    .products__full-price{
        width: 100%;
        margin: 15px 0;
        text-align: center;
    }
    .products__full-price .item__price:not(.item__price--exchange){
        margin: 0 auto;
    }
    .order__recipient{
        flex-flow: column;
        align-items: flex-start;
    }
    .order__recipient,
    .order__delivery,
    .order__address{
        margin-bottom: 25px;
    }
    .order__recipient .order__label:nth-child(1),
    .order__recipient .order__label:nth-child(2),
    .order__recipient .order__label:nth-child(3),
    .order__label:nth-child(4),
    .order__label--address,
    .address__privacy{
        width: 100%;
    }
    .order__label{
        margin-bottom: 10px;
    }
    .delivery__radio-con{
        margin-top: 5px;
    }
    .order__lable--inline{
        width: 100%;
        flex-flow: column;
        align-items: flex-start;
    }
    .order__address{
        flex-flow: column;
    }
    .order__submit{
        width: 60%;
        margin: 10px auto;
    }
    .criterion__car-model {
        width: 47%;
        margin-bottom: 15px;
        min-height: unset;
        padding: 5px 0;
    }
}
@media(max-width: 400px){
    .container {
        padding: 0 10px;
    }
    .menu-title__icon--small{
        margin-bottom: 5px;
    }
}